.card-content {
    color: white;

}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.8);
}

.thumb-modal {
    padding: 0px;
    margin: auto !important;
    min-width: 300px;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.8);
}

.desc-content {
    padding: 20px 40px;
}

.title-content {
    padding: 10px 20px;
}

@media only screen and (max-width: 800px) {
}
