<div class="d-lg">
  <div class="switch-toggle switch-ios">
    <input id="zt" name="view10" type="radio" value="zt" checked="">
    <label for="zt" (click)="changeLogo('zt')">
      <span class="db text-black br-100">
        <img class="logo_slid_left" src="../../../assets/img/logos/Zt-02.svg" alt="zt.png">
      </span>
    </label>
    <input id="fb" name="view10" type="radio" value="fb">
    <label for="fb" (click)="changeLogo('fb')">
      <span class="db text-black">
        <i class="fab fa-facebook-f"></i>
      </span>
    </label>
    <input id="ig" name="view10" type="radio" value="ig">
    <label for="ig" (click)="changeLogo('ig')">
      <span class="db text-black">
          <i class="fab fa-instagram"></i>
      </span>
    </label>
    <input id="tw" name="view10" type="radio" value="tw">
    <label for="tw" (click)="changeLogo('tw')"><span class="db text-black"><i
      class="fab fa-twitter"></i></span>
    </label>
    <a id="logo"></a>
  </div>
</div>
