@import "~css-toggle-switch/dist/toggle-switch.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

* {
  font-family: Arial, Helvetica, sans-serif;
}

.logo_slid_left {
  position: relative;
  top: 0px;
  left: -7px;
  width: 46px;
  height: 46px;
  object-fit: contain;
}

.fab {
  top: 6px;
  position: relative;
  font-size: 25px;
}

.roller {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.switch-ios {
  width: 50%;
}

label {
  outline: none !important;
  cursor: pointer;
}

.switch-ios.switch-toggle {
  transition: 400ms all ease-in-out 50ms;
  background: transparent;
  height: 3.5em;
  box-shadow:none;
}

.switch-ios.switch-toggle a {
  background-color: #fff !important;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../../../assets/img/logos/Zt-01.svg');
  z-index: 2;
  height: 45px;
  width: 45px !important;
  transition: 400ms all ease-in-out 50ms;
}

.spinFb {
  animation: spinFb 400ms linear;
}

.switch-toggle a {
  top: 6px;
  left: 3%;
}

.switch-ios.switch-toggle label {
  line-height: 3.7em;
  -webkit-tap-highlight-color: rgba(51, 182, 229, 0);
  -o-tap-highlight-color: rgba(51, 182, 229, 0);
  -ms-tap-highlight-color: rgba(51, 182, 229, 0);
  -moz-tap-highlight-color: rgba(51, 182, 229, 0);
}

.switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(3) + label ~ a {
  left: 28%!important;
}

.switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(5) + label ~ a {
  left: 50%!important;
}

.switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(7) + label ~ a {
  left: 78%!important;
}

@keyframes spinFb {
  100% {
      transform: rotate(1turn);

  }
}


@media only screen and (min-width : 1400px) and (max-width : 1499px) {
  .logo_slid_left {
    left: unset !important;
    top: unset !important;
  }

}

@media only screen and (min-width : 1300px) and (max-width : 1399px) {
  .logo_slid_left {
    left: unset !important;
    top: unset !important;
  }

  .switch-toggle a {
    top: 2px;
    left: 3%;
  }

  .switch-ios.switch-toggle a {
    height: 43px!important;
    width: 43px !important;
  }
}

@media only screen and (min-width : 993px) and (max-width : 1299px) {
  .logo_slid_left {
    left: 0px !important;
    top: unset !important;
  }

  .switch-ios.switch-toggle a {
    height: 45px!important;
    width: 45px !important;
  }
  .switch-toggle label:nth-child(2):nth-last-child(8)~input:checked:nth-child(7)+label~a {
    left: 82%;
  }
  .switch-ios.switch-toggle{
    height: 2em!important;
  }

  .switch-ios.switch-toggle a {
    height: 43px!important;
    width: 43px !important;
  }

}

@media only screen and (min-width : 939px) and (max-width : 992px) {

  .logo_slid_left {
    left: 5px !important;
    width: 35px;
    height: 51px;
  }

  .fab {
    font-size: 20px;
  }
}

@media only screen and (min-width : 800px) and (max-width : 938px) {

  .switch-ios {
      width: 100% !important;
  }

  .logo_slid_left {
      left: 5px !important;
      width: 35px;
      height: 51px;
  }

  .fab {
    font-size: 20px;
  }
}

@media only screen and (min-width : 600px) and (max-width : 799px) {


  .switch-ios {
    width: 100% !important;
  }

  .logo_slid_left {
    left: 5px !important;
    width: 35px;
    height: 51px;
    top: 3px;
  }

  .fab {
    font-size: 20px;
    left: 9px;
  }

  .switch-ios.switch-toggle a {
    height: 30px;
    width: 30px !important;
  }

}

@media only screen and (min-width : 100px) and (max-width : 599px) {

  .switch-ios {
    width: 100% !important;
  }

  .logo_slid_left {
    left: -9px !important;
    width: 35px;
    height: 51px;
    top: 3px;
  }

  .fab {
    font-size: 20px;
    left: 7px;
  }

  .switch-ios.switch-toggle a {
    height: 34px;
    width: 34px !important;
  }

  .switch-toggle a{
    top: 12px;
    left: 0%;
  }

  .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(3) + label ~ a {
    left: 24%!important;
  }

  .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(5) + label ~ a {
    left: 45%!important;
  }

  .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(7) + label ~ a {
    left: 71%!important;
  }

  .switch-toggle label:nth-child(2):nth-last-child(8), .switch-toggle label:nth-child(2):nth-last-child(8) ~ label{
    width: 21%!important;
  }
}

.switch-ios{
  width: unset!important;
}
